html, body {
    height: 100%;
}

.fondo{
    background-image: url("../images/cesped.png");
    background-repeat: repeat;
}
.card {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}